.page{
    display: grid;
    place-items: center;
    justify-content: center;
    height: 100vh;
    
}

.mosiac{
    background-color: rgba(255, 250, 250, 0);

    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);

    width: min(90vw,90vh);
    aspect-ratio: 1/1;

    gap: 1rem;
    padding: 1rem;

}

.card{
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    background-color: #1f1f1f96;
}

.card-left{
    grid-column: span 2;
    grid-row: span 4;

}


.card-bottom{
    grid-column: span 6;
    grid-row: span 2;

    flex-direction: column;

    text-align: center;

}
.sub-text{
    font-size: larger;
}

.main-text{
    font-size: xx-large;

    text-align: center;
}

.card-right{
    grid-column: 5 / 7;
    grid-row: 1 / 5;

    text-align: center;

    flex-direction: column;

}

.card-middle{
    grid-column: 3 / 5;
    grid-row: 3 / 5;

    text-align: center;

}

.card-top{
    grid-column: 3 / 5;
    grid-row: 1 / 3;

    background-color: #30668096;

}

.pill-bubbles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
   
}

.pill-bubble{
    display: flex;
    gap: .4rem;
    border-radius: 999px;

    background-color: #30668096;
    color:#F3F4F6;

    border: rgba(255,255,255,0.14);
    font-size: larger;
}

.logo-image{
    width: 20px;
    height: 20px;
    
}

.emoji-image{
    width: 50px;
}

.blue-text{
    color: #3184ad;
    font-weight: bolder;
}
.playwrite{
    font-family: 'Playwrite NZ Basic';
}