.content-outer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: center;
    min-height: 100vh;

    margin-left: 4rem;
}


.content-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.hero-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}


.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.white-button{
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
}

.white-button:hover{
    background-color: rgb(158, 154, 161);
    transform: scale(1.03);
}

.pill-bubbles{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 0.4em;
   
}

.pill-bubble{
    display: flex;
    gap: .4rem;
    border-radius: 999px;
}

.logo-image{
    width: 17px;
    height: 17px;
    
}